* {
    text-align: center;
}

.incExpContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.incExpContainer div {
    padding: 1px 8px;
}

.h2balRec {
    margin-bottom: 0px;
    padding: 2px;
    font-size: 1.2em;
    font-weight: bold;
}

.balance {
    font-weight: bolder;
    font-size: x-large;
}

.recordContainer {
    margin: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #9e84adc4
}

#inc {
    color: #f022f3;
}

#exp {
    color: #112ef9;
}

#bal {
    color: #f70e0e;
}
h3{
    font-size: 1.3em;
}
.h3Heading{
    font-size: 1.1em;
    margin-bottom: 0;
}