.h1Exp {
    user-select: auto;
    font-size: 1.6em;
    font-weight: 900;
    box-shadow: 0px 10px 8px #61457cd1;
    padding: 5px;
    text-shadow: 0px 8px 24px #947e9e;
    color: #01132f;
}
#logoImg{
    width: 70px;
}