
div a {
    text-decoration: none;
}
span{
    font-size: 0.86em;
    font-weight: bold;
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
}

div.bgFooter{
    background-color: #ad9f8e3b; 
    margin-top: 24px;
}
