.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.containerDiv {
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: #deb88742;
    flex-direction: column;
    width: 50%;
    box-shadow: 10px 10px 10px gray, -10px 10px 10px gray;
    padding: 16px 33px;
}

* {
    font-family: 'Ubuntu', sans-serif;
}


@media screen and (max-width:700px) {
    .containerDiv {
        width: 100%;
    }
}